---
import Section from "./Section.astro";
import type { ExperienceProps } from "@types";

interface Props {
  experience: ExperienceProps[];
}

const { experience } = Astro.props;
---

<Section text="Work Experience" href="experience">
  {
    experience.map(({ company, position, startDate, endDate, summary }) => (
      <div class="mb-10">
        <h3 class="mb-1.5 font-serif text-2xl font-semibold text-white">
          {company}
        </h3>
        <div class="flex flex-col items-start pb-5">
          <h4 class="mb-0.5 font-serif text-2xl font-medium text-primary">
            {position}
          </h4>
          <span class="pb-[2px] text-sm text-white/70">
            {startDate} — {endDate}
          </span>
        </div>
        {Array.isArray(summary) ? (
          <ul class="list-disc space-y-4 pl-6">
            {summary.map((item) =>
              typeof item === "string" ? (
                <li class="text-base text-neutral">{item}</li>
              ) : (
                <li>
                  <h5 class="mb-2 text-base font-semibold text-white">
                    {item.label}
                  </h5>
                  <ul class="list-disc space-y-2 pl-6">
                    {item.bullets.map((point) => (
                      <li class="text-base text-neutral">{point}</li>
                    ))}
                  </ul>
                </li>
              ),
            )}
          </ul>
        ) : (
          <p class="text-base text-neutral">{summary}</p>
        )}
      </div>
    ))
  }
</Section>
